.App{
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

.Navbar{
  background-color: #00BDFF;
  width: 100%;
  height: 5rem;
  font-family: roboto,open sans,Arial,sans-serif;
  display: flex;
}

.Navbar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide .links{
  max-height: 5rem;
}

.Navbar .leftSide .links a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px; 
}

.Navbar .leftSide button{
  display: none;
  margin-left: 20px;
}

.Navbar .leftSide #hidden{
  display: flex;
}

.Navbar .rightSide{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.rightSide input{
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
  color: black; 
}

.rightSide button{
  height: 20px;
  width: 30px;
  font-size: 16px;
  border-radius: 10px;
}

.stores ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.stores li{
  background-color: #2f2e34;
  width: auto;
  margin: auto;
}

@media only screen and (max-width: 850px){
  .Navbar .leftSide .links a{
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px){
  .Navbar .leftSide .links a{
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px){
  .Navbar .leftSide button{
    display: flex;
  }  
  .Navbar .leftSide .links{
    display: none;
  }

  .Navbar .leftSide #hidden{
    position: absolute;
    left: 0px;
    top: 80px;
    height: 130px;
    max-height: 130px;
    width: 100%;
    background-color: #00BDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
  }

  .Navbar .leftSide #hidden a{
    margin: 10px;
    font-size: 20px;
  }
}